*{
  margin: 0;
  padding: 0;
}

.title{
  font-weight: bold;
  font-size: calc(19px + 1vw);
  margin: 30px 0 0 20px;
}
.mainComponent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

.carddiv{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 40px 10px 10px 10px;
  
}

.inputfield,.editStudent,.editteacher{
  margin: 20px 0 0 0;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(300px + 30vw);

}

.studentProfile,.teacherProfile{
  /* border: 1px solid rgb(144, 143, 143); */
  margin-top: calc(30px + 5vw);
  padding: calc(10px + 1vw);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(194, 192, 192);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(300px + 20vw);
  cursor:context-menu;

}

.studentProfile>div,.teacherProfile>div{
  font-weight: bold;
  font-size: calc(25px + 1vw);
}

.studentProfile>p,.teacherProfile>p{
  font-weight: 400;
  font-size: calc(20px + 1vw);
}


.flip-button {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-button:hover {
  transform: rotateY(180deg);
}